.list {
    list-style: none;}
.link {
text-decoration: none;
}
body {
    font-family: 'Roboto', "Raleway" sans-serif;
}
.logo-accent {
    color: #000000;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}
.logo {
    font-family: 'Raleway', "Roboto" sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
   
        color: #2196F3;
}
.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}
.current {
    color: #2196F3;}

.email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    color: #757575;
}
.tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;

}
.email:hover,
.email:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #2196F3;
}
.tel:hover,
.tel:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #2196F3;}

.main-page {
        background: #2F303A;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}    
.main-page-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        /* or 136% */
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.mdl-btn {
        font-family: 'Roboto';
        background-color: #2196F3;;
        border-radius: 4px;
        border: 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        min-width: 200px;
        padding: 10px 32px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
.mdl-btn:hover,
.mdl-btn:focus

.list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.list-title-description {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;

    color: #757575;
}

.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.portfolio-name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
        letter-spacing: 0.06em;
    
        color: #212121;
}
.position {
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.street-adress {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.footer{
    background: #2F303A;
}
        